{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Grand Ouaga Data</title>

    <!-- Included -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}PAGO {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="shortcut icon" href="{% static "/images/app_img/favicon.ico" %}" type="image/x-icon">
		<link rel="icon" href="{% static "/media/app_img/favicon.ico" %}" type="image/x-icon">
    <link rel="shortcut icon" href={% static "/images/app_img/pago.jpeg" %}>
        
    <!-- <link rel="shortcut icon" href="{% static " /media/app_img/favicon.ico" %}" type="image/x-icon"> -->
    <!-- <link rel="icon" href="{% static "/media/app_img/favicon.ico" %}" type="image/x-icon"> -->
    <!-- <link rel="shortcut icon" href="{% static " /media/app_img/client.jpg" %}"> -->
    <!-- jquery -->
    <!-- <script src="{% static "/media/app_img/client.jpg" %}"></script> -->
    <!-- bootstrap css-->
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/css/bootstrap-icons.css" %}" rel="stylesheet">
    <!-- fontAwesome-->
    <link href="{% static "/css/all.min.css" %}" rel="stylesheet">
    <!-- CSS Datatables -->
    <link href="{% static "/css/datatables.min.css" %}" rel="stylesheet">
    <!-- Leaflet -->
    <link href="{% static "/leaflet/leaflet.css" %}" rel="stylesheet">
    <!-- <link href="{% static "/css/Chart.min.css" %}" rel="stylesheet"> -->
    <!-- Custom -->
    {% comment %}
    <link rel="stylesheet" href="{% static "/webmapping/style.css" %}" />{% endcomment %}
    <!-- 
        Custom cloned
     -->
    <!-- format page -->
    <!-- <link href="{% static "/webmapping/css/format-page.css" %}" rel="stylesheet"> -->
    <!-- For SubMenu -->
    <link href="{% static "/webmapping/css/submenu.css" %}" rel="stylesheet">
    <!-- zoom in image-->
    <link href="{% static "/webmapping/css/zoom-in-image.css" %}" rel="stylesheet">
    <link href="{% static "/webmapping/css/L.Control.ZoomBox.css" %}" rel="stylesheet" />
    <link href="{% static "/webmapping/css/jquery.dataTables.min.css" %}" rel="stylesheet" />
    <!-- Custom css cloned -->
    <link href="{% static "/webmapping/css/clone.css" %}" rel="stylesheet" />

    <!-- Custom perso -->
    <!-- <link href="{% static "/webmapping/style.css" %}" rel="stylesheet" /> -->


</head>

<body>
    <nav id="banner" class="navbar navbar-expand-md navbar-dark bg-dark py-0 sticky-top align-items-center" style="z-index: 0;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link fa fa-map text-warning" href="/"> <span class="text-white">WebMapping</span></a>
                    
                </li>
                <li class="nav-item ml-4 pl-4" id="admin">
                    <a class="nav-link" target="_blank" href="/admin"><i class="fa fa-gears"></i></a>
                </li>
                {% for guid in guide %}
                
                <li class="nav-item ml-4 pl-4" id="info">
                    <a class="nav-link" target="_blank" href="{{guid.file.url}}"><i class="fa fa-info-circle"></i></a>
                </li>
                {% empty %}
                <li class="nav-item ml-4 pl-4" id="info">
                    <a class="nav-link" href="">pas de guide fourni</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand ml-auto" href="#" style="color: #c1bf8c;">GRAND OUAGA DATA</a>
            
        </div>
        <div>
          <img src="{% static 'media/app_img/logo.png' %}" class="" width="auto" height="50px" alt="Logo pago">
        </div>
         <div class="navbar-collapse justify-content-end align-items-center w-100 order-3 dual-collapse2">
           
        </div> 
    </nav>

    <div id='slide_menu'>
        <h3 class="text-center">Filtrer par:</h3>
        <div class="container mt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#types" role="tab" aria-controls="home" aria-selected="true">Infrastructure </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#emplacement" role="tab" aria-controls="profile" aria-selected="false">Emplacement</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="status-tab" data-bs-toggle="tab" href="#status" role="tab" aria-controls="result" aria-selected="false">Statut</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="result-tab" data-bs-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Rechercher</a>
              </li>
            </ul>
        
            <div class="tab-content  mt-2" id="myTabContent">
              <div class="tab-pane fade show active" id="types" role="tabpanel" aria-labelledby="home-tab">
                <div class="accordion" id="types-accordion">

                </div>
              </div>
              <div class="tab-pane fade" id="emplacement" role="tabpanel" aria-labelledby="profile-tab">
                <div class="accordion" id="locations-accordion">

                </div>
              </div>
              <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                    {% for status in statuses %}
                    <div class="form-check">
                        <input class="form-check-input checkbox-status" type="checkbox" id="checkbox-status-{{status.id}}" autocomplete="off">
                        <label class="form-check-label" for="checkbox-status-{{status.id}}">{{status.status}}</label>
                    </div>
                    {% endfor %}
              </div>
              <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="contact-tab">
                <table id="infrastructures-table" class="display" style="width:100%">
                    <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        
    </div>
    <div id='map'>
        <div id="slide_button"  class="btn btn-dark d-flex align-items-center" type="button" onClick="toggleLeftPane(); event.stopPropagation();" value="">
            <i class="fas fa-angle-double-right"></i>
        </div>
        <div id="legend" onmouseover="map.dragging.disable(); map.touchZoom.disable();map.doubleClickZoom.disable(); map.scrollWheelZoom.disable()" 
                                  onmouseout="map.dragging.enable(); map.touchZoom.enable();map.doubleClickZoom.enable(); map.scrollWheelZoom.enable()"
                                  onclick="event.stopPropagation();">
            <label class="close" onclick="vCloseLegend();">&times;</label>
            <label>Légende</label>
            <br>
            <div id = "legend_container">
                <img id = "legend_image" src="">
            </div>
        </div>
    </div>


        <!-- Jquery -->
        <script src="{% static "/js/jquery-3.7.0.min.js" %}"></script>
        <script src="{% static "/webmapping/js/jquery.dataTables.min.js" %}"></script>
        <!-- Bootstrap -->
        <script src="{% static "/js/popper.min.js" %}"></script>
        <script src="{% static "/js/bootstrap.min.js" %}"></script>
        <!-- Leaflet -->
        <script src="{% static "/leaflet/leaflet.js" %}"></script>
        <!-- RBush: Leaflet Canvas Markers dependancy -->
        <script src="{% static "/leaflet/rbush.min.js" %}"></script>
        <!-- Leaflet Canvas Markers -->
        <script src="{% static "/leaflet/leaflet-markers-canvas.js" %}"></script>
        <!-- Leaflet Canvas Icon -->
        <script src="{% static "/leaflet/leaflet-canvasicon.js" %}"></script>
        <!-- Leaflet ZoomBox -->
        <script src="{% static "/leaflet/L.Control.ZoomBox.min.js" %}"></script>
        <!-- vfs_fonts -->
        <!-- <script src="{% static "/js/vfs_fonts.js" %}"></script> -->
        <!-- Datatables -->
        <!-- <script src="{% static "/js/datatables.min.js" %}"></script> -->
        <!-- Chart js  -->
        <!-- <script src="{% static "/js/html2canvas.min.js" %}"></script> -->
        <!-- <script src="{% static "/js/chart.js" %}"></script> -->
        <!-- <script src="{% static "/js/Chart.min.js" %}"></script> -->
        <!-- Custom Js -->
        {% comment %}
        <script src="{% static "/webmapping/script.js" %}"></script>{% endcomment %}
        <script src="{% static "/webmapping/js/clone.js" %}"></script>
</body>

</html>