#map {
    height: 100vh;
}

.leaflet-left {
    left: inherit !important;
    right: 0;
    margin-right: 8px;
}

.visible {
    left: 0 !important;
    margin-left: 0px !important;
}

.navbar {
    background-color: #048B9A !important;
}

.navbar-right {
    justify-content: end;
}

#slideMenu {
    position: absolute;
    left: 0px;
    z-index: 1000;
    background-color: white;
    width: 400px;
    margin-left: -400px;
    height: 100%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    overflow-y: visible;
    overflow-x: visible;
}

#collapse-button {
    width: 40px;
    height: 80px;
    position: absolute;
    color: white;
    top: 0;
    right: -40px;
    z-index: 2;
    transition: right 0.3s ease;
    border-radius: 0;
    opacity: 0.7;
    box-shadow: 0 0 0 0;
    border-radius: 0px 5px 5px 0px;
}

.avatar {
    font-size: 2rem;
    margin-left: 0.75rem;
}

#admin {
    font-weight: bold;
    margin-left: 2rem;
    color: white;
    opacity: 1;
}

#collapse-button :active {
    box-shadow: 0 0 0 0;
    opacity: 1;
}

#collapse-button :hover {
    box-shadow: 0 0 0 0;
    opacity: 0.8;
}

#collapse-button :focus {
    box-shadow: 0 0 0 0;
    opacity: 0.5;
}

#result-list {
    height: 100%;
    overflow: scroll;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(221, 220, 201);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(221, 220, 201, 0.80);
}

.navbar .nav-link:hover {
    color: white;
}

.navbar .nav-item.active .nav-link {
    background-color: #f0f0f0;
    color: #048b9a;
}