{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content %}
  <form id="{{ opts.model_name }}_form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.media }}
    <input type="hidden" name="save" value="1" />
    <div class="submit-row">
      <button type="submit" class="default" name="_continue" value="1">{% trans "Enregistrer" %} {% trans "et continuer l'edition" %}</button>
      <button type="submit" class="default" name="_save" value="1">{% trans "Save" %}</button>
      <a href="{% url opts|admin_urlname:'changelist' %}" class="deletelink">{% trans "Cancel" %}</a>
    </div>
    <div class="inline-related">
      {% for formset in inline_admin_formsets %}
        {% include "admin/includes/fieldset.html" with inline_admin_formset=formset %}
      {% endfor %}
    </div>
  </form>
{% endblock %}
